.env
.env.*
!.env.example
.idea/
vendor/
node_modules/
storage/*.key
storage/logs/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build/
phpstan-baseline.neon
coverage/
