includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - tests
    tmpDir: storage/framework/cache/phpstan
    treatPhpDocTypesAsCertain: false
